<div class="row">
    <div class="col-lg-8">
        <p id="notice"><%= notice %></p>

        <br>

        <% @cows.each do |cow| %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                    <img src="<%= cow.url %>"
                         class="img-responsive"
                         alt="...">
                    <div class="caption">
                        <h3><%= cow.name %></h3>
                        <ul>
                            <li><%= cow.location %></li>
                            <li><%= render partial: 'score', :locals => {cow: cow} %></li>
                        </ul>
                        <p><i><%= cow.birthday %></p>
                        <p>
                        <%= link_to 'Details', cow, :class => "btn btn-primary" %>
                        <%= link_to raw('<i class="fa fa-thumbs-o-up"></i> Vote'), "#", :class => "btn btn-warning" %>
                    </div>
                </div>
            </div>
        <% end %>



    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>
                <%= link_to raw('<i class="fa fa-plus-circle fa3"></i> Propose your cow'), new_cow_path %>
            </h2>
        </div>
        <div class="well">
            <h2>Cow of the month</h2>
            <p>The cow of the month has not been elected yet. Please come back later!</p>
        </div>
        <div class="well">
            <h2><i class="fa fa-twitter"></i> Last tweeted cows</h2>
            <p>None yet!</p>
        </div>

    </div>
</div>
